[v-cloak] {
  display: none;
}
html {
  font-size: 12px;
}
img {
  max-width: 100%;
}
body {
  background-color: #eee;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
@-webkit-keyframes header-anim {
  to {
    background-position: 400% 0;
  }
}
@keyframes header-anim {
  to {
    background-position: 400% 0;
  }
}
.my-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  background-color: #9fc;
  background-image: -webkit-linear-gradient(left, #9cf 0%, #f9c 25%, #fc9 50%, #9fc 75%, #9cf 100%);
  background-image: linear-gradient(to right, #9cf 0%, #f9c 25%, #fc9 50%, #9fc 75%, #9cf 100%);
  background-size: 400% 100%;
  -webkit-animation: header-anim 45s infinite linear;
          animation: header-anim 45s infinite linear;
}
.my-header h1 {
  line-height: 3rem;
  font-size: 1.5rem;
  color: #fff;
}
.my-header .logo {
  height: 3.5rem;
  margin: .5rem auto 0;
}
@media (min-width: 576px) {
  .my-header h1 {
    font-size: 2rem;
    line-height: 4rem;
  }
  .my-header .logo {
    height: 6rem;
    margin: 1rem auto .5rem;
  }
}
.my-main {
  margin-top: 7.5rem;
  padding: 0;
}
@media (min-width: 576px) {
  .my-main {
    margin-top: 12rem;
  }
}
.my-footer {
  background-color: #343a40;
  padding: 2rem;
}
.my-footer * {
  color: #b1b1b1;
  font-size: 1.4rem;
}
.my-footer i {
  font-size: 1.8rem;
  padding: 0 1rem;
}
.gallery-nav {
  padding: 0 1rem;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 1rem;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.gallery-nav .swiper-slide {
  cursor: pointer;
  color: #76838f;
  line-height: 2.6rem;
  font-size: 1rem;
  text-align: center;
}
.gallery-nav .swiper-slide:hover {
  color: #f47c48;
}
.gallery-nav .bar {
  width: 25%;
  height: 3px;
  position: absolute;
  bottom: 0px;
}
.gallery-nav .bar .color {
  width: 60%;
  margin: 0 20%;
  height: 3px;
  background: #ff4891;
}
.gallery-box .swiper-container {
  margin: 0 -10px;
}
.gallery-box .gallery-item {
  margin-bottom: 1rem;
}
.gallery-box .gallery-item .gallery-item-box {
  background: #fff;
  box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 0.625rem;
  margin: 0 -10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  overflow-y: hidden;
}
.gallery-box .gallery-item .gallery-item-box:before,
.gallery-box .gallery-item .gallery-item-box:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  border: 3px solid transparent;
  width: 0;
  height: 0;
}
.gallery-box .gallery-item .gallery-item-box:before {
  top: 0;
  left: 0;
}
.gallery-box .gallery-item .gallery-item-box:after {
  bottom: 0;
  right: 0;
}
.gallery-box .gallery-item .gallery-item-box:hover:before,
.gallery-box .gallery-item .gallery-item-box:hover:after {
  width: 100%;
  height: 100%;
}
.gallery-box .gallery-item .gallery-item-box:hover:before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.gallery-box .gallery-item .gallery-item-box:hover:after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.gallery-box .gallery-item .gallery-item-img {
  margin-bottom: 0.625rem;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.gallery-box .gallery-item .gallery-item-img img {
  width: 100%;
  height: 12.5rem;
  object-fit: contain;
}
.gallery-box .gallery-item .gallery-item-text {
  text-align: center;
}
.gallery-box .gallery-item .gallery-item-text .title {
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}
.gallery-box .gallery-item .gallery-item-text .desc {
  color: #999;
  font-size: 0.75rem;
  margin-bottom: 0;
}
.gallery-box .gallery-item .gallery-item-meta {
  position: absolute;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  font-size: 1.125rem;
  line-height: 2.5rem;
  padding: 0 0.625rem;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.33, 0, 0.2, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.33, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.33, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.33, 0, 0.2, 1), -webkit-transform 0.2s cubic-bezier(0.33, 0, 0.2, 1);
  -webkit-transform: translateY(-2.5rem);
          transform: translateY(-2.5rem);
}
.gallery-box .gallery-item:hover .gallery-item-meta {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media (min-width: 768px) {
  .gallery-nav .swiper-slide {
    line-height: 3rem;
    padding: 0 1rem;
    font-size: 1.125rem;
  }
  .gallery-box {
    min-height: 72.2vh;
  }
}
@media (min-width: 992px) {
  .gallery-box .gallery-item .gallery-item-img img {
    height: 18.75rem;
  }
}
.text-truncate {
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
